#usuario {
	
	-fx-border-color: black;
    -fx-border-insets: 5;
    -fx-border-width: 3;
    -fx-border-style: solid;
    -fx-border-radius: 20px;
	
}


#boton_personalizado {
	
	-fx-font-weight:bold;
	-fx-font-size:14px;
	-fx-color:#ffffff;
	-fx-background-color:#82d4c9;
  	-fx-border-radius: 50px;
	
}

